:root{
    --color-primary: #27AE60;
    --color-secondary: #EB5757;

    --color-grey600: #333333;
    --color-grey300: #828282;
    --color-grey100: #E0E0E0;
    --color-grey0: #F5F5F5;


    --font-primary: "Inter", sans-serif;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-grey100) white;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #FFFFFF;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px;
    border: 3px solid orange;
  }