.modalOverlay{
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    inset: 0;

    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.3);
}

.modalBox{
    position: relative;
    width: 100%;
    max-width: 485px;
    padding: 2rem;
    background: #fff;
    border-radius: 8px;
    
}

.closeButton{
    position: absolute;
    top: 0;
    left: 0;
}

.Cart{
    position:absolute;
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    background-color: var(--color-primary);
    width: 100%;
    height: 60px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px ;
    top: 0;
    left: 0;

    h2{
        font-family: var(--font-primary);
        color: var(--color-grey0);
        
    }
}
.listModal{
    display: flex;
    margin-block: 16px;
    align-items: center;
    gap: 16px;
    flex-direction: column;
}